table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

tr {
    height: auto;
    clear: both;
}

td, th {
    display: table-cell;
    text-align: center !important;
    border: 1px solid #ccc;
    vertical-align: middle;
    width: 200px;
    height: 25px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

th {
    background: #f0eadf;
}

.Dropdown-control {
    border: 0;
}