html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#root {
    width: 96%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1% 2% 0 2%;
}