.connect {
    margin-top: 6%;
    /*margin-top: 22vh;*/
    margin-left: 32%;
    background-color: lightblue;
    width: 500px;
    border-radius: 20px;
    padding: 25px;
}

.connect-footer {
    display: flex;
    margin-top: 25px;
    height: 50px;
}

input:invalid {
    background: #fdd; /* Красный цвет фона */
}

.connect-button {
    display: inline-block;
    width: 40%;
    height: 75%;
}

.button {
    text-align: center;
    background-color: #5ca3fd;
    border-radius: 12px;
    line-height: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    padding: 0 15px;
}

.button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.field {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 25px;
    color: grey;
}
