.header {
    background: khaki;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text {
    padding-right: 10px;
}

.serviceText {
    text-align: justify;
}

.view {
    padding-top: 50px;
}

.cartButton {
    margin-right: 10px;
}

.size {
    height: 100%;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    height: auto;
    clear: both;
}

td, th {
    display: table-cell;
    text-align: center !important;
    border: 1px solid #ccc;
    vertical-align: middle;
    width: 200px;
    height: 25px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

th {
    background: #f0eadf;
}